*{
    font-family: 'Open Sans', sans-serif;
}
header{
    background: FFF8F3;
}
nav{
    display: flex;
    margin-right: 633px;
    justify-content: space-between;
}
ul{
    display: flex;
}

nav li{
    list-style: none;
    text-decoration: none;
    margin-right: 50px;
    

}
button{
    background: #FD6E0A;
}
span{
    color: #FD6E0A;
}
nav a{
    text-decoration: none;

}
.btn{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
font-weight: 700;
}
.sp{
    color: black;
    display: inline;
    text-align: center;
}